<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Loading</title>

	<script type="module" src="http://localhost:8000/javascripts/api/tableau.embedding.3.latest.js"></script>
   <script src="static/js/embed9.js"></script>
   <link rel="shortcut icon" href="static/img/favicon.ico">
   <link href="static/css/sb-admin-2.css" rel="stylesheet">
</head>

<body class="demo">

	<!-- Demo content -->
	<div id="demo-content">
		<div id="loader-wrapper">
			<div id="loader">
						<tableau-viz id="tableauViz"
      				src="{{tabServer + '/views/RedirectPage/Dashboard1.png'}}" height="0"
        			token='{{CA_SSO_token}}'>
    			</tableau-viz>
			</div>
			<div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>

		</div><img src="/static/img/alpine-group-primary-logo.png" height="50" >
<p>&nbsp; &nbsp; &nbsp;Sit tight, we'll launch automatically!</p>



	</div>


</body>
</html>
